<div class="search">
  <div class="input-group">
    <input class="form-control" placeholder="Filter by name" name="filter" [(ngModel)]="filterSearch">
  </div>
</div>

<div class="list-repos">
  <ul class="repos">
    <li *ngFor="let item of listRepository | searchfilter: filterSearch" class="repos-item">
      <span class="repository">
        <a href="{{ item.svn_url }}">{{ item.owner.login }} /
          <strong>{{ item.name }}</strong>
        </a>
      </span>
      <span class="resume">{{ item.description }}</span>
      <span class="icon">
        <i class="ion-star"></i> {{ item.stargazers_count }}</span>
      <span class="icon">
        <i class="ion-fork-repo"></i> {{ item.forks }}</span>
    </li>
  </ul>
</div>

