<div class="search">
  <div class="input-group">
    <input class="form-control" placeholder="Filter by name">
  </div>
</div>

<div class="list-repos">
  <ul class="repos">
    <li class="repos-item">
      <span class="repository">
        <a href="">Node /
          <strong>Repository</strong>
        </a>
      </span>
      <span class="resume">Um pequeno resumo sobre o repositorio</span>
      <span class="icon">
        <i class="ion-star"></i> 20</span>
      <span class="icon">
        <i class="ion-fork-repo"></i> 177</span>
    </li>
    <li class="repos-item">
      <span class="repository">
        <a href="">Node /
          <strong>Repository</strong>
        </a>
      </span>
      <span class="resume">Um pequeno resumo sobre o repositorio</span>
      <span class="icon">
        <i class="ion-star"></i> 20</span>
      <span class="icon">
        <i class="ion-fork-repo"></i> 177</span>
    </li>
    <li class="repos-item">
      <span class="repository">
        <a href="">Node /
          <strong>Repository</strong>
        </a>
      </span>
      <span class="resume">Um pequeno resumo sobre o repositorio</span>
      <span class="icon">
        <i class="ion-star"></i> 20</span>
      <span class="icon">
        <i class="ion-fork-repo"></i> 177</span>
    </li>
    <li class="repos-item">
      <span class="repository">
        <a href="">Node /
          <strong>Repository</strong>
        </a>
      </span>
      <span class="resume">Um pequeno resumo sobre o repositorio</span>
      <span class="icon">
        <i class="ion-star"></i> 20</span>
      <span class="icon">
        <i class="ion-fork-repo"></i> 177</span>
    </li>
    <li class="repos-item">
      <span class="repository">
        <a href="">Node /
          <strong>Repository</strong>
        </a>
      </span>
      <span class="resume">Um pequeno resumo sobre o repositorio</span>
      <span class="icon">
        <i class="ion-star"></i> 20</span>
      <span class="icon">
        <i class="ion-fork-repo"></i> 177</span>
    </li>
  </ul>
</div>

