// Fonts
$font-primary:  'Open Sans', sans-serif;

// Color Project
$default-link-color:   #3798dc;
$background-color:     #ffffff;

// Colors
$color-white:          #ffffff;
$default-text-color:   #5c646c;
