// Fonts
$font-primary:  'Open Sans', sans-serif;

// Color Project
$default-link-color:   #ff0000;
$background-color:     #ffffff;

// Colors
$color-white:          #ffffff;
$default-text-color:   #ff0000;
