// Fonts
$font-primary:  'Open Sans', sans-serif;

// Color Project
$default-link-color:   #3798dc;
$background-color:     #ffffff;
$default-text-color:   #5c646c;
$border-color-default: #dee2e6;
$border-color-red:     #e36334;

// Colors
$color-white:          #ffffff;
$color-gray-1:         #cccccc;
$color-gray-2:         #aaaaaa;

