<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="logo" [routerLink]="['/home']" title="Github Profiles">
        <svg aria-hidden="true" class="logo-svg" height="30" version="1.1" viewBox="0 0 16 16" width="30">
          <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
        <span>
          <strong>Github</strong> profiles</span>
      </a>
    </div>
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="profile">
        <div class="row">
        <div class="col-3 col-md-2 col-lg-12">
            <img src="{{ profile.avatar_url }}" alt="{{ profile.name }}" class="rounded-circle">
        </div>
        <div class="col-9 col-md-10 col-lg-12">
            <span class="name">{{ profile.name }}</span>
            <span class="resume">{{ profile.bio }}</span>
        </div>
      </div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="repository-tabs">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle>Repos
              <span class="badge badge-grey">{{ profile.public_repos }}</span>
            </ng-template>
            <ng-template ngbTabContent>
              <app-repos></app-repos>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Starred
              <span class="badge badge-grey">{{ stars }}</span>
            </ng-template>
            <ng-template ngbTabContent>
              <app-starred></app-starred>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>

