.list-repos {
  margin-top: 15px;

  ul.repos {
    list-style: none;
    border: none;
    padding: 0;
  }
  li.repos-item {
    border-bottom: 1px solid $border-color-default;
    padding: 16px 0;

    &:last-child {
      border: none;
    }
  }

  span.repository {
    display: block;
    font-size: 18px;
  }

  span.resume {
    display: block;
    font-size: 12px;
    padding: 8px 0;
  }

  span.icon {
    font-size: 12px;
    margin: 10px 20px 20px 0;

    i{
      font-size: 18px;
    }
  }
}
