.repository-tabs {
  margin-top: 40px;

  .nav-tabs {
    border-bottom: 2px solid #dee2e6;
  }

  .nav-tabs .nav-link {
    border:none;
    border-radius: 0px;
    padding: 10px 40px;
    font-size: 18px;
    color: $default-text-color;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus {
    color: #495057;
    background-color: #fff;
    border-color: transparent;
    font-weight: 700;
    border-bottom: 5px solid #e36334;
  }
}




